.root {
  padding: var(--mantine-spacing-xs);
}

.button {
  flex: 1;
  min-width: fit-content;
  max-width: 140px;
  padding: 0 var(--mantine-spacing-xl);

  &:hover {
    color: var(--mantine-color-gray-7);
  }
}
