import classes from './{{dashCase componentName}}.module.css'

export interface {{properCase componentName}}Props {}

export default function {{properCase componentName}}() {
  return <div className={classes.root}>{{properCase componentName}} component</div>
}
