.input {
  min-width: calc(50% - 8px);
  max-width: calc(50% - 8px);
  flex: 1;

  @media (max-width: $mantine-breakpoint-sm) {
    min-width: 100%;
    max-width: 100%;
  }
}

.cancel-button {
  border: 1px solid var(--mantine-color-gray-4);
}

.close-button {
  border: 1px solid var(--mantine-color-gray-4);
}

.modal-header {
  padding: 24px 20px;
  background-color: var(--mantine-color-gray-0);
  border-bottom: 1px solid var(--mantine-color-gray-3);
}

.modal-footer {
  padding: 16px 20px;
  background-color: var(--mantine-color-gray-0);
  border-top: 1px solid var(--mantine-color-gray-3);
  justify-content: space-between;
}
