.card {
  padding: var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-md);
  box-shadow: var(--mantine-shadow-xs);
}

.value {
  font-size: rem(24px);
  font-weight: 700;
  line-height: 1;
  width: fit-content;
  margin-top: var(--mantine-spacing-lg);
}

.title {
  font-weight: 700;
  text-transform: uppercase;
}
