.root {
  padding: 0;
  gap: 12px;
  display: flex;
  flex-direction: column;
}

.item {
  margin-top: 0 !important;
  overflow: hidden;
  background-color: white;
  border: 1px solid var(--mantine-color-gray-3);
  border-radius: var(--mantine-radius-sm);
}
