html,
body,
:root {
  background-color: #f7f7f7 !important;
  height: 100%;
}

main {
  max-width: 1280px;
  padding: 24px 80px;
  padding-bottom: 72px;
  margin: 0 auto;

  @media (max-width: $mantine-breakpoint-sm) {
    padding: 24px 12px;
    padding-bottom: 72px;
  }
}
