.root {
  border-radius: var(--mantine-radius-md);
  box-shadow: var(--mantine-shadow-xs);
  background-color: white;
  padding: 16px 24px;
}

.frameDimensionRoot {
  display: flex;
  align-items: center;
}

.frameDimensionLabel {
  margin-left: 8px;
}

.frameDimensionInput {
  width: 80px;
}
