.root {
  width: 100%;
}

.icon {
  width: 20px;
  height: 20px;
  color: var(--mantine-color-gray-5);
}

.accordionControl {
  background-color: #f7f7f7;
}

.accordionPanel {
  background-color: #f7f7f7;
}

.accordionContent {
  padding-top: var(--mantine-spacing-md);
}

.accordionItem {
  border-color: var(--mantine-color-gray-3);
}
